*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  background-color: #111;
}
.mierda {
  width: 100px;
  height: 100px;
  background-color: rgb(177, 59, 232);
  box-shadow: 300px 200px rgb(118, 30, 207), 600px 0 rgb(188, 77, 236);
}
.mierda::after {
  content: '';
  position: absolute;
  left: 300px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: -300px 200px rgb(49, 193, 222);
  background-color: rgb(117, 166, 226);
}
.mierda::before {
  content: '';
  position: absolute;
  left: 600px;
  top: 200px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(20, 94, 184);
}
